<div *ngIf="state == 'list'">
  <div>
    <div class="row">
      <div class="col-md-10">
        <h4>Room Management</h4>
      </div>
      <div class="col-md-2">
          <button class="btn btn-success float-right" (click)="doNewRoom()"><i class="fa fa-plus"></i> New</button>
      </div>
    </div>
  </div>

  <div>
    <table class="table table-bordered">
      <thead>
        <th>No.</th>
        <th>Photo</th>
        <th>Details</th>
        <th></th>
      </thead>
      <tbody>
        <tr *ngFor="let room of rooms let i = index">
          <td> {{ i + 1 }} </td>
          <td>
            <img [src]="room.photo" class="img-thumbnail" width="100">
          </td>
          <td> 
            <h6>{{ room.roomType }}</h6>
            Price : {{ room.price }}<br>
            Quantity {{ room.quantity }}
          </td>
          <td>
            <button class="btn btn-success" routerLink="/room-detail/{{room.id}}"><i class="fa fa-list"></i> View</button>&nbsp;
            <button class="btn btn-primary" (click)="doEdit(room.id)"><i class="fa fa-edit"></i> Edit</button>&nbsp;
            <button class="btn btn-danger" (click)="doDelete(room.id)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="state == 'new'">
  <div>
    <div class="row">
      <div class="col-md-10">
        <h4>Room Management</h4>
      </div>
      <div class="col-md-2">
          <button class="btn btn-success float-right" (click)="doListRoom()"><i class="fa fa-list"></i> List</button>
      </div>
    </div>
  </div>
  <br>

  <div class="card">
    <div class="card-body">
      <!-- here #roomForm and #roomType are TemplateReferenceVariable -->
      <form #roomForm="ngForm">
        <div class="form-group">
          <label for="roomType">Room Type</label>
          <input type="text" class="form-control" id="roomType" name="roomType" #roomType=ngModel
            [(ngModel)]="room.roomType" placeholder="Enter room type" required>
          <!-- here css states can use .touch .untouch, .dirty .valid .invalid .pristine-->
          <div [hidden]="roomType.valid || roomType.pristine" class="alert alert-danger">
            Room Type is required
          </div>
        </div>
        <div class="form-group">
          <label for="photo">Photo Url</label>
          <input type="text" class="form-control" id="photo" name="photo" #photo=ngModel
            [(ngModel)]="room.photo" placeholder="Enter photo" required>
          <div [hidden]="photo.valid || photo.pristine" class="alert alert-danger">
            Photo is required
          </div>
        </div>
        <div class="form-group">
          <label for="quantity">Quantity</label>
          <input type="number" class="form-control" id="quantity" name="quantity" #quantity=ngModel
            [(ngModel)]="room.quantity" placeholder="Enter quantity" required>
          <div [hidden]="quantity.valid || quantity.pristine" class="alert alert-danger">
            Quantity is required
          </div>
        </div>
        <div class="form-group">
          <label for="price">Price</label>
          <input type="text" class="form-control" id="price" name="price" #price=ngModel
            [(ngModel)]="room.price" placeholder="Enter price" required>
          <div [hidden]="price.valid || price.pristine" class="alert alert-danger">
            Price is required
          </div>
        </div>
        <div class="form-group">
          <label for="bookingDate">Booking Date</label>
          <input type="date" class="form-control" id="bookingDate" name="bookingDate"
            [(ngModel)]="bookingDate" placeholder="Enter booking date" required>
        </div>
        <div class="form-group">
          <label for="bookingTime">Booking Time</label>
          <input type="text" atp-time-picker class="form-control" id="bookingTime" name="bookingTime"
            [(ngModel)]="bookingTime" placeholder="Enter booking time" required>
        </div>
        <div class="form-group">
          <button class="btn btn-success" [disabled]="!roomForm.valid" (click)="doSaveRoom()">Save</button>
        </div>
    </form>
    </div>
  </div>
</div>